.slider-area {
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider-item {
    display: inline-block;
}

.slider-item img {
    width: 400px;
    height: 400px;
    margin-bottom: 10px;
    border-radius: 4px;
    object-fit: cover;
    /* max-height: 300px; */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}

.slider-item {
    text-align: center;
}
.slider-item > a > span {
    display: none;
}
.current-slide > a > span {
    display: block;
}
